header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-logo {
    background: url("../images/logo.png") no-repeat;
    width: 150px;
    height: 65px;
    margin-left: 20px;
}
.company-logo:hover{
    cursor: pointer;
}
